<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Create a Blog</title>
    <link rel="stylesheet" href="static/blog/register.css" >

</head>
<body>

    <div class="top-nav" >
        <a href="/" class="blog-website" style="font-family: 'Monoton', cursive;" >Blog Website</a>
        <a href="{% url "create-post-page"  %}" class="create"> Create a Blog</a>
        <a href="{% url "all-authors-page" %}" class="our-authors"> Our Authors</a>
        <hr>
        <h1>Stay curious.</h1>
        <h2>Discover stories, thinking, and expertise from writers on any topic.</h2>
    </div>
    
    
    <h1 class="heading">Register</h1>

   <form action="/register" method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        
        <div class="register">
            <div class="text-label">
                {{author.author_name.label_tag}}
                {{ author.author_name}}
            </div>
            <br>
            <div class="image-input">
                {{author.author_image.label_tag}}
                {{ author.author_image}}
            </div>
            <br>
            <div class="text-label">
                {{author.about_author.label_tag}}
            </div>

            {{ author.about_author}}
            <br>
            <div class="text-label">
                {{author.email_address.label_tag}}
                {{ author.email_address}}
            </div>
            <br>
            <button type="submit">Save</button>
        </div>
   </form>
    
</body>
<footer></footer>
</html>