{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Post</title>
    <link rel="stylesheet" href="{% static "blog/single_post.css" %}" />
        
    <script src="https://kit.fontawesome.com/cf6d150f5d.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="top-nav" >
        <a href="/" class="blog-website" style="font-family: 'Monoton', cursive;" >Blog Website</a>
        <a href="{% url "create-post-page" %}" class="create" > Create a Blog</a>
        <a href="{% url "register-page" %}" class="register"> Register</a>
        <a href="{% url "all-authors-page" %}" class="our-authors"> Our Authors</a>
        <hr>
        <h1>Stay curious.</h1>
        <h2>Discover stories, thinking, and expertise from writers on any topic.</h2>
    </div>

    <div class="container">
        <div class="blog">
            <div class="image-author-container">  
                    <img src="{{author.author_image.url}}" alt="avatar" />
                    <div class="name-date-container">
                        <h4>{{author.author_name }}</h4>
                        <time>{{post.date|date:"d M Y"}}</time>
                    </div>
            </div>
            <div class="blog-content">
                <h1>{{post.title}}</h1>
                <img src="{{post.blog_image.url}}" alt="{{post.title}}" />
                
                <p>{{post.content|linebreaks}}</p>
            </div>
        </div>
        <div class="author-comment">
            <div class="author-box">
                <img src="{{author.author_image.url}}" alt="{{author.author_name}}" />
                <h3>{{author.author_name }}</h3>
                <p>{{author.about_author }}</p>
                <a href="mailto:{{author.email_address }}">
                   <i class="fa fa-solid fa-envelope fa-2xl" style="color: #ffc40c;font-size:35px;"></i>
                </a>
            </div>
            <div class="comment-box">
                <h2>Add a comment</h2>
                <form action="{% url "single-post-page" post.slug %}" method="POST">
                    {% csrf_token %}
                    <div class="name-label">
                        {{comment_form.user_name.label_tag}}
                        {{ comment_form.user_name }}
                    </div>
                    <div class="comment-input">
                        {{ comment_form.text.label_tag }}
                    </div>
                    {{ comment_form.text }}

                    <button>Save</button>
                </form>
            </div>
        </div>
    </div>

    <div class="all-comments">
      {% for comment in comments %}
        <div class="comment">
            <div class="name-date-container">
                <h4>{{comment.user_name }}</h4>
                <time>{{comment.date|date:"d M Y"}}</time>
            </div>
            <p>{{comment.text}}</p>
        </div>    
        {% endfor%}
    </div>

  </body>

<footer></footer>
</html>

